[submodule "BlueSTSDK"]
	path = BlueSTSDK
	url = https://github.com/STMicroelectronics-CentralLabs/BlueSTSDK_Android.git
[submodule "BlueSTSDKGui"]
	path = BlueSTSDKGui
	url = https://github.com/STMicroelectronics-CentralLabs/BlueSTSDK_GUI_Android.git
